{
 :paths ["src/clj" "resources"]

 :deps
 {
  org.clojure/clojure {:mvn/version "1.10.1"}

  integrant/integrant       {:mvn/version "0.8.0"}
  metosin/reitit-ring       {:mvn/version "0.5.15"}
  metosin/reitit-middleware {:mvn/version "0.5.15"}
  ring/ring-core            {:mvn/version "1.8.1"}
  org.xerial/sqlite-jdbc    {:mvn/version "3.32.3.2"}
  com.layerware/hugsql      {:mvn/version "0.5.1"}
  http-kit/http-kit         {:mvn/version "2.5.3"}
  hiccup/hiccup             {:mvn/version "2.0.0-alpha2"}
  cheshire/cheshire         {:mvn/version "5.10.1"}}

 :aliases
 {
  :dev
  {:extra-paths ["dev"]
   :extra-deps  {clj-http/clj-http {:mvn/version "3.12.3"}
                 integrant/repl    {:mvn/version "0.3.2"}}}

  :server
  {:main-opts ["-m" "semantic-forms.core"]}

  :test
  {:extra-paths ["test/clj"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "1.0.0"}
    ring/ring-mock         {:mvn/version "0.4.0"}}}

  :uberjar
  {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
   :main-opts  ["-m" "hf.depstar.uberjar" "pyyp.uber.jar" "-C" "-m" "semantic-forms.core"]}
  }
 }
